{% extends '/Generic.twig' %}

{% block head %}

    <style type="text/css">
        .m-model-new fieldset {
            margin-bottom: 10px;
        }
        .m-model-images {
            clear: both;
        }
        .m-model-images__image {
           float: left;
            margin-right: 10px;
        }
        .m-model-new input {
            width: 500px;
            padding: 5px;
            margin-bottom: 10px;
            display: block;
        }
        #m-photo-add {
            margin-top: 20px;
        }
        #receiver {
            width: 100%;
            height: 200px;
        }
    </style>

    <script type="text/javascript">
        $(function () {


            var uploader = new plupload.Uploader({
                runtimes: 'html5,flash,silverlight,html4',
                browse_button: $('#m-photo-add').get(0),
                max_file_size: '10mb',
                unique_names: true,
                max_file_count: 2,

                url: "/manager/ajax/pl-upload",

                flash_swf_url: '/st/res/plupload-2.1.1/js/Moxie.swf',
                silverlight_xap_url: '/st/res/plupload-2.1.1/js/Moxie.xap',

                filters: [
                    {title: "Image files", extensions: "jpg,jpeg,gif,png"},
                ],

                init: {
                    PostInit: function () {


                    },
                    UploadComplete: function (up, files) {


                    },
                    BeforeUpload: function (up, file) {


                    },

                    FilesAdded: function (up, files) {
                        up.start();
                    },
                    FileUploaded: function (upldir, file, object) {

                        var data = $.parseJSON(object.response);

                        $('.m-model-images')
                                .append('<div class="m-model-images__image"><img src="' + data.path + '" height="100" alt=""/></div>');


                    },

                    UploadProgress: function (up, file) {

                    },

                    Error: function (up, err) {

                    }
                }

            });

            uploader.bind('FilesAdded', function (up, files) {

                var maxfiles = 10;

                var filesAlready = $('.b-model-images__image').length;

                if (filesAlready >= maxfiles) {
                    return false;
                }

                var est = (files.length + filesAlready) >= maxfiles ? (maxfiles - (files.length + filesAlready)) : maxfiles;

                files.splice(est);

//				if (up.files.length === maxfiles) {
//					$('#uploader_browse').hide("slow"); // provided there is only one #uploader_browse on page
//				}

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.init();
        });

    </script>

{% endblock %}

{% block content %}

    <section class="m-model-new">

        <form method="post" action="/manager/model/create">

            <fieldset>
                <legend>Основное</legend>
                <input type="text" name="name" placeholder="Полное название мотоцикла (Suzuki GSX-R 600 2008)"/>

                <input type="text" name="engineVolume" placeholder="Объем двигателя, см3"/>
                <input type="text" name="cylinderCount" placeholder="Количество цилиндров"/>

            </fieldset>

            <fieldset>
                <legend>Фотографии</legend>

                <div class="m-model-images"></div>

                <div style="clear: both;"></div>

                <input type="button" value="добавить фотки" id="m-photo-add"/>

            </fieldset>

            <input type="submit" value="Сохранить"/>

        </form>

    </section>

{% endblock %}